.home-container {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;

    padding: 16px;
    box-sizing: border-box;
}

.home-container h1 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 35px;
}

.home-container h2 {
    margin-top: 0;
    text-align: center;
    font-size: 25px;
}

.accounts-container {
    margin-top: 50px;
    height: 30vh;

    display: flex;
    align-items: center;
    gap: 12px;

    overflow-x: auto;
    padding: 10px;

    scroll-snap-type: x mandatory;

    background-image: url("public/images/dinero.png");
    background-size: cover;
    background-position: center;

    border-radius: 10px;
}

.circular-btn {
    position: relative;
    bottom: 80px;
    right: 20px;
    z-index: 1000;
}

.fab-container {
    position: fixed;

    bottom: 0; 
    right: 20vw;

    display: flex;
    flex-direction: row; 
    gap: 40px;

    z-index: 1500;
}

.account {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.65);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2000; 
}

.account-form {
    position: relative;
    background: #fff;

    padding: 20px;
    width: 90%;
    max-width: 400px;

    border-radius: 12px;

    text-align: center;

    animation: scaleIn 0.3s ease;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;

    padding: 10px 15px;
    border-radius: 10px;

    cursor: pointer;
}

.transaction-history {
    width: 88vw;
    margin-top: 20px;
    background: #ffffff;

    border-radius: 12px;
    padding: 15px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.transaction-history h2 {
    text-align: left;
    margin-bottom: 10px;
}

.table-history {
    max-height: 150px;
    overflow-y: auto;
}

.tableT {
    width: 88vw;
    border-collapse: collapse;
}

.tableT th, 
.tableT td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.tableT th {
    position: sticky;
    top: 0;
    background: #fff;
    font-weight: bold;
    z-index: 1;
}

.tableT tr:hover {
    background-color: #f5f5f5;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, 
.table td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.table th {
    position: sticky;
    top: 0;
    background: #fff;
    color: #555;
}

.btn {
    margin-top: 10px;
}

@media (min-width: 481px) and (max-width: 768px) {
  .fab-container {
    right: 30vw;
}
}

@media (min-width: 769px) and (max-width: 1024px){

    .fab-container {
        bottom: 30px; 
        right: 20px;

        flex-direction: column; 
    }

    .transaction-history{
        width: 80vw;
    }

    .tableT{
        width: 80vw;
    }

    .table-history {
        max-height: 250px;
    }
}

@media (min-width: 1025px) {
    .circular-btn {
    bottom: 100px;
    }

    .fab-container {
    bottom: 30px; 
    right: 20px;

    flex-direction: column; 
    }

    .table-history {
    max-height: 250px;
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


