.AccCard{
    text-align: center;
    min-width: 160px;
    height: 190px;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between;

    padding: 12px;
    border-radius: 12px;

    background-color: rgb(230, 230, 230);

    gap: 8px;

}

.AccCard h3{
    text-align: center;
    font-size: 12px;
    color: #000000;
}

.AccCard p{
    font-size: 18px;
    font-weight: bold;
}

.AccCard:active {
    transform: scale(0.97);
}

.Activo {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.Pasivo {
  background: linear-gradient(135deg, #434343, #000000);
}

.Gasto {
  background: linear-gradient(135deg, #fa709a, #fee140);
}

.Ingreso {
  background: linear-gradient(135deg, #43e97b, #38f9d7);
}

.Capital {
 background: linear-gradient(135deg, #30cfd0, #330867);
}

.AccCard.Activo:hover{
    background: linear-gradient(135deg, #3b8de3, #00c6d9);
}

.AccCard.Pasivo:hover{
    background: linear-gradient(135deg, #2e2e2e, #111111);
}

.AccCard.Gasto:hover{
    background: linear-gradient(135deg, #e85d8c, #f7c531);
}

.AccCard.Ingreso:hover{
    background: linear-gradient(135deg, #35d46a, #2de0c0);
}

.AccCard.Capital:hover{
    background: linear-gradient(135deg, #28b8ba, #24054d);
}

