.circular-btn {
  width: 90px;
  height: 90px;

  border-radius: 50%;       
  border: none;

  background-color:  #40da80;
  color: white;

  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.2s;
}

.circular-btn:hover {
    background-color: #2fbf6c;
}