.input-group input {
    width: 100%;
    padding: 8px 5px;
    font-size: 16px;
    color: #3d3d3d;

    border: 1px solid #3a3a3a;
    outline: 1px solid #3a3a3a;
    background: transparent;
    margin-bottom: 15px;
    border-radius: 10px;
}

.input-group label {
    font-size: 18px;
    color: #3a3a3a;
}

.input-group input:focus{
    border: 1px solid #00df56;
    outline: 1px solid #00df56;

    background-color: #ffffff;

    transition: 0.2s;
}

@media (min-width: 769px) and (max-width: 1024px){
    .input-group input {
    padding: 10px 5px;
    font-size: 20px;
    }
    .input-group label {
    font-size: 22px;
    }
}

@media (min-width: 1025px) {
    .input-group input {
    padding: 10px 5px;
    font-size: 20px;
    }
    .input-group label {
    font-size: 22px;
    }
}